sigl.terraform/Backend/.terraform/providers/registry.terraform.io/hashicorp/azurerm/4.5.0/linux_amd64/terraform-provider-azurerm_v4.5.0_x5
sigl.terraform/Backend/deploiement.sh
sigl.terraform/Backend/terraform.tfstate
sigl.terraform/Backend/terraform.tfstate.backup
sigl.terraform/Backend/terraform.tfvars
sigl.terraform/Backend/variables.tf
sigl.terraform/Backend/modules/database/variables.tf
sigl.terraform/Frontend/terraform.tfstate.backup
sigl.terraform/Frontend/terraform.tfvars
sigl.terraform/Frontend/variables.tf
sigl.terraform/Peering/main.tf
sigl.terraform/Peering/permission.sh
sigl.terraform/Peering/terraform.tfstate
sigl.terraform/Peering/terraform.tfstate.backup
sigl.terraform/Frontend/.terraform/providers/registry.terraform.io/hashicorp/azurerm/4.5.0/linux_amd64/*
sigl.terraform/Peering/.terraform/providers/registry.terraform.io/hashicorp/azurerm/4.5.0/linux_amd64/*
