[defaults]
inventory = /mnt/c/Users/ndeno/Documents/ESEO/E5A/SIGL/Projet/sigl.terraform/ansible/hosts
roles_path = /mnt/c/Users/ndeno/Documents/ESEO/E5A/SIGL/Projet/sigl.terraform/ansible/roles
remote_user = ansible_user      # Remplace par l'utilisateur distant SSH
host_key_checking = False
timeout = 30
forks = 10
pipelining = True
log_path = /mnt/c/Users/ndeno/Documents/ESEO/E5A/SIGL/Projet/sigl.terraform/ansible/ansible.log

[privilege_escalation]
become = True
become_method = sudo
